{% extends 'core/base.html' %}

{% block title %} About {% endblock %}

{% block background %}{% load static %}{% static 'core/img/about.jpg' %}{% endblock %}

{% block headers %}
    <h1>Information</h1>
    <span class="subheading">English Bootcamp Academy</span>
{% endblock %}

{% block content  %}
    <div class="container">
      <div class="row">   
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg'%}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">About Us</h2>   
          <p>We work alongside schools and companies around Ecuador to provide the best English language learning experiences!</p>
        </div>
      </div>  
    </div>
{% endblock %}
