{% extends 'core/base.html' %}

{% block title %} Contact {% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Contact</h1>
    <span class="subheading">Advisory</span>
{% endblock %}

{% block content  %}
<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p><b>E-mail:</b> <br> <a href="mailto:edelgado4244@utm.edu.ec">edelgado4244@utm.edu.ec</a>  <br> <a href="mailto:dfarias7112@utm.edu.ec">dfarias7112@utm.edu.ec</a>
          <br>
          <p><b>Cellphone:</b> <br> +593 99 898 0236 <br> +593 95 880 4359</p>
          <p><b>Schedule:</b> $50/Month</p>
        </div>
      </div>
    </div>
{% endblock %}
